.container {
    background-color: #1d1f21;
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans';
    .paragraph {
        text-transform: uppercase;
        font-size: 1rem;
        color: #efefef;
    }
}